/*
 * spider on Seeed XIAO BLE Sense (nRF52840)
 *
 * I2C 引脚与 xiao_ble 相同：D4 (SDA)=P0.4, D5 (SCL)=P0.5。
 */

&i2c1 {
	status = "okay";
	clock-frequency = <100000>;

	pca9685: pca9685@40 {
		compatible = "nxp,pca9685-pwm";
		reg = <0x40>;
		#pwm-cells = <2>;
		status = "okay";
	};
};
